# Python related files/folders
/__pycache__/
/scripts/__pycache__/
/.venv/
.DS_Store
# Prevent accidental upload of login info
/logins.csv
# Ignore backups and other versions of the db
# E.g. linkedin_jobs.db.bak, linkedin_jobs_uk.db
/linkedin_jobs_*.db
/linkedin_jobs.db.*
/csv_files/
linkedin_jobs.*
R-project/
.Rproj.user
*.html
linkedin-job-scraper/
analysis/
.vscode/
.tmp_*
.dagster_home/